In [22]:
import pandas as pd
import os
import pathlib
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

In [27]:
# Set universal paths to enable easier navigation
root = pathlib.Path.cwd()
root_parent = root.parent

#Declare the data path
data = root_parent/"data"

PosixPath('/Users/aloo/dev/ml/data')

In [28]:
#Import the data Frame
df = pd.read_csv(data/"housing.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [29]:
#Choice of quantitative columns for normalization
columns = ["LotArea", "YearBuilt", "OverallQual", "1stFlrSF", "2ndFlrSF", "SalePrice"]

In [30]:
#Create a new dataframe based on the columns to be normalized
new_df = df[columns]
new_df

      LotArea  YearBuilt  OverallQual  1stFlrSF  2ndFlrSF  SalePrice
0        8450       2003            7       856       854     208500
1        9600       1976            6      1262         0     181500
2       11250       2001            7       920       866     223500
3        9550       1915            7       961       756     140000
4       14260       2000            8      1145      1053     250000
...       ...        ...          ...       ...       ...        ...
1455     7917       1999            6       953       694     175000
1456    13175       1978            6      2073         0     210000
1457     9042       1941            7      1188      1152     266500
1458     9717       1950            5      1078         0     142125
1459     9937       1965            5      1256         0     147500

[1460 rows x 6 columns]

In [32]:
#create a correlation matrix to identify the features to select 
correlation_matrix = new_df.corr()
correlation_matrix.style.background_gradient(cmap = "gray")

In [36]:
#Select the independent variables from the new dataframe
X_columns = ["LotArea", "YearBuilt", "OverallQual", "1stFlrSF", "2ndFlrSF"]
X = new_df[X_columns]

In [37]:
#Select the target variable from the new dataframe
y_columns = ["SalePrice"]
y = new_df[y_columns]

In [38]:
#Instantiate the Linear regression model
model = LinearRegression()

In [39]:
#Fit the linear regression on the new regression model
model.fit(X, y)

LinearRegression()

In [40]:
#Get the coeffecient tha create the regression equation
coeffecient: list = model.coef_
coeffecient

array([[7.00857101e-01, 4.41315170e+02, 2.43769434e+04, 7.88854424e+01,
        4.83187879e+01]])

In [41]:
#Check the cost function on the trained model
score: float = model.score(X, y)
score

0.7639947415631084